<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>My Transactions</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <a href="/transactions">All Transaction</a>
    </nav>
  <%= yield %>
</body>
</html>