<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>MoneyCashBoard</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body >
  <nav class="header">
    <a href="/transactions" class="logo"><img src="logo.png"/></a>
    </nav>
  <%= yield %>
</body>
</html>