* { 
  margin: 10px; 
  padding: 0px;
  background: ;
}
body { 
  font: 13px/1.4  Helvetica, Serif; 
}

p {
  margin: 20px 0; 
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  }

/* Table Zebra Striping*/
  tr:nth-of-type(odd) { 
    background: #F3F3F3; 
  }
  th { 
    background: #2A314B; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 8px; 
    border: 1px solid #D1D1D1; 
    text-align: center; 
  }

  }