html { 
  margin: 0px; 
  padding: 0px;
  background-color: #EFFBFB;
  /*background-image: <img src=""/>;*/
}

body { 
  font: 13px/1.4  Helvetica, Serif; 

} 

.header { 
  background-image: url("http://imgur.com/a/Ue7ws");
  padding: 0px 0px 0px 0px;
  margin: 26px; 
} 

p {
  margin: 20px 0; 
}

table { 
  width: 98%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  }

/* Table Zebra Striping*/
tr:nth-of-type(odd) { 
  background: #F3F3F3; 
  }

tr:nth-of-type(even) { 
  background: #FFFFFF; 
  }  

th { 
    background: #2A314B; 
    color: white; 
    font-weight: bold; 
  }

td, th { 
    padding: 8px; 
    border: 1px solid #D1D1D1; 
    text-align: center; 
  }

.Bold {
  font-weight: bold; 
}
  
.RightTextAlign {
  text-align: right; 
}

/*.Logo {
  <img src="logo"/>
}*/

.btn {
  background: #6c648b;
  background-image: -webkit-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -moz-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -ms-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -o-linear-gradient(top, #6c648b, #4f4a66);
  background-image: linear-gradient(to bottom, #6c648b, #4f4a66);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #fffcff;
  font-size: 12px;
  padding: 2px 11px 2px 11px;
  text-decoration: none;
}

.btn:hover {
  background: #06bbaf;
  text-decoration: none;
}





