html { 
  margin: 0px; 
  padding: 0px;
  background-color: #EFFBFB;
  /*background-image: <img src=""/>;*/
}

body { 
  font: 13px/1.4  'Muli', sans-serif;

} 

.header { 
  background-image: url("http://imgur.com/a/Ue7ws");
  padding: 0px 0px 0px 0px;
  margin-left: 30px; 
  margin-top: 20px;
  margin-bottom: 25px;
} 

p {
  margin: 20px 0; 
}

.cell-no-padding {
   
}
.cell-no-padding p {
  margin: 2px 2px 2px 2px;
}

h3 {
  margin-left: 30px;
}


table { 
  width: 97%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  }

/* Table Zebra Striping*/
tr:nth-of-type(odd) { 
  background: #F3F3F3; 
  }

tr:nth-of-type(even) { 
  background: #FFFFFF; 
  }  

th { 
    background: #2A314B; 
    color: white; 
    font-weight: bold; 
  }

td, th { 
    padding: 8px; 
    border: 1px solid #D1D1D1; 
    text-align: center; 
  }

.Bold {
  font-weight: bolder; 
}
  
.RightTextAlign {
  text-align: right; 
}

/*.Logo {
  <img src="logo"/>
}*/

.btn {
  background: #6c648b;
  background-image: -webkit-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -moz-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -ms-linear-gradient(top, #6c648b, #4f4a66);
  background-image: -o-linear-gradient(top, #6c648b, #4f4a66);
  background-image: linear-gradient(to bottom, #6c648b, #4f4a66);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  color: #fffcff;
  font-size: 12px;
  padding: 2px 11px 2px 11px;
  text-decoration: none;
  transition-duration: 0.2s;
  text-transform: uppercase;
  max-width: 200px;
}

.btn:hover {
  background: #06bbaf;
  transition-duration: 0.2s;
  text-decoration: none;
}

.transaction {
  padding: 3px 11px 3px 11px;
  margin-left: 38px;
}

.slim-cell {
  width: 200px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, td, tr { 
    display: block; 
  }
  th {
    display:none;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Bank"; }
  td:nth-of-type(2):before { content: "Date"; }
  td:nth-of-type(3):before { content: "Description"; }
  td:nth-of-type(4):before { content: "Type"; }
  td:nth-of-type(5):before { content: "Category"; }
  td:nth-of-type(6):before { content: "Amount"; }
  td:nth-of-type(7):before { content: ""; }
 
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body { 
    padding: 0; 
    margin: 0; 
    width: 320px; }
  }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body { 
    width: 495px; 
  }
}

input {
  max-width: 100px;
}

.link {
  color: #fffcff;
  transition-duration: 0.4s;
  text-decoration: none;
  }

  .link:hover {
    color: #fba100;
    transition-duration: 0.4s;
    }

.icon {
  display: inline;
}



#icon-mag {
  font-size: 15px;
}
/*.mag {
  background-image: url(mag.svg);
  background-size: 15px;
  width: 15px;
  height: 15px;

}*/
