<div class='CenterAlignText'>
<h3>New Category</h3>
 
<form class="margin-left" action="/categories" method="POST">
  <label for="name-fields">What is the name of the new category would you like to create?</label>
  <input id="name-fields" type="text" name="name">
     
  <input class="btn" type="submit" value="CREATE">
     


</form>
