<h3>This transaction has been succesfully deleted</h3>

<p class="margin-left">This page will automatically be refreshed</p>

<meta http-equiv="refresh" content="3; URL='http://localhost:4567/transactions'" />